// * Colors
$backgroundColor: #fff;
$textColor: #000;
$primaryColor: #bf6b04;
$accentColor: #266b73;
$dangerColor: #d93d1a;

// * Typography
$fontFamily: "Lato", sans-serif;
$fontFamilyTwo: "Oswald", sans-serif;
